<template>
  <div>
    <v-date-picker no-title v-model="dates" multiple></v-date-picker>
    <div class="text-right">
      <v-btn :disabled="notChanged" @click="resetDates">reset</v-btn>
      <v-btn :disabled="notChanged" @click="saveDates" class="mx-4" color="primary">save</v-btn>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { isEqual } from "lodash";

export default {
  data() {
    return {
      dates: [],
    };
  },
  computed: {
    ...mapGetters("holidays", ["holidays"]),
    notChanged() {
      return isEqual(this.holidays, this.dates);
    },
  },
  methods: {
    ...mapActions("holidays", ["getHolidays", "saveHolidays"]),
    saveDates() {
      this.saveHolidays(this.dates);
    },
    resetDates() {
      this.dates = this.holidays;
    },
  },
  watch: {
    holidays(v) {
      this.dates = v;
    },
  },
  created() {
    this.getHolidays();
  },
};
</script>
