<template>
  <div>
    <v-snackbar
      v-for="({ error, id }, i) of errors"
      :key="id"
      :value="error"
      :style="{ 'margin-top': calcMargin(i) }"
      top
      right
    >
      {{ error }}
      <template v-slot:action="{ attrs }">
        <v-btn color="error" text v-bind="attrs" @click="closeError(id)"> Close </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import { REMOVE_ERROR } from "@/store/mutations/common";

export default {
  computed: {
    ...mapGetters("common", ["errors"]),
  },
  methods: {
    ...mapMutations("common", [REMOVE_ERROR]),
    closeError(id) {
      this[REMOVE_ERROR](id);
    },
    calcMargin(i) {
      return i * 60 + "px";
    },
  },
};
</script>
