<template>
  <v-app>
    <TAlert />
    <TLoading />
    <div class="mx-auto mt-8">
      <HolidayDates />
    </div>
  </v-app>
</template>

<script>
import TLoading from "@/components/common/TLoading";
import TAlert from "@/components/common/TAlert";
import HolidayDates from "@/components/holidays/HolidayDates";

export default {
  name: "App",

  components: {
    TAlert,
    TLoading,
    HolidayDates,
  },
};
</script>
